@import "~bootstrap";
// COMMON
ul {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  color: inherit;
}
h3 {
  font-size: 2.5rem;
  font-weight: 800;
}
h4 {
  font-weight: 700;
}
h5 {
  font-size: 0.8rem;
  font-weight: 800;
  color: #14a8aa;
}

// BUTTONS
.ms_btn {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
}
.btn_green {
  background-color: #058283;
  color: white;
}
.btn_green:hover {
  background-color: #058283;
  color: white;
}
.btn_whitebg {
  background-color: none;
  color: #058283;
  border: 1px solid #058283;
}
.btn_whitebg:hover {
  background-color: #058283;
  color: white;
}
.btn_transparent {
  color: white;
  border: 1px solid #058283;
}
.btn_transparent:hover {
  background-color: #058283;
  color: white;
}
.highlighted_green {
  color: #058283;
  background-color: #d5e7e8;
  border-radius: 7px;
  padding-inline: 0.5rem;
  opacity: 0.8;
}
.highlighted_white {
  color: white;
  background-color: #0e272d;
  border-radius: 7px;
  padding-inline: 0.5rem;
  opacity: 0.8;
}
.green_circle {
  border-radius: 50%;
  background-color: #daeced;
  padding: 4px 9px;
  font-size: 18px;
}
